@import "../../styles/mixin.scss";

.hero {
    background-color: var(--black);
    padding-block: 5rem;

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;

        @include respond(tab-port){
            grid-template-columns: 1fr;
            background: none;
        }
    }

    &_right img {
        width: 100%;

        @include respond(tab-port){
            width: 80%;
            margin-inline: auto;
        }
    }

    &_left{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            color: black;
            text-transform: capitalize;
            font-size: 3.3rem;
            letter-spacing: 1px;
            font-weight: 600;
            line-height: 1.2;
            padding-bottom: 50px;
            align-self: center;
    
            @include respond(phone){
                font-size: 2.4rem;
            }
        }
    
    }
    p {
        margin-block: 1.5rem 2.5rem;
        line-height: 1.5;
    }
}
.hero_btn{
    background: var(--black);
    padding: 0.6rem 1.2rem;
    color: var(--eerie-black) !important ;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    display: inline-block;

    &:hover{
        border-color: var(--black);
        background: transparent;
        color: black !important;
    }
}


.home2 {
    background-color: var(--black);
    padding-block: 5rem;

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;

        @include respond(tab-port){
            grid-template-columns: 2fr;
            background: none;
        }

        @include respond(phone) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &_left img {
        width: 75%;
        height: 50%;

        @include respond(tab-port){
            width: 80%;
            margin-inline: auto;
        }
    }

    &_right h3 {
        color: black;
        text-transform: capitalize;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
        // align-items: center;

        @include respond(phone){
            font-size: 2.4rem;
        }
    }

    p {
        font-size: 1.5rem;
        margin-block: 1.5rem 2.5rem;
        line-height: 1.5;
    }
}

.home3 {
    background-color: var(--black);
    padding-block: 5rem;

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;

        @include respond(tab-port){
            grid-template-columns: 2fr;
            background: none;
        }

    }

    &_right img {
        width: 75%;

        @include respond(tab-port){
            width: 80%;
            margin-inline: auto;
        }
    }

    &_left h3 {
        color: black;
        text-transform: capitalize;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
        // align-items: center;

        @include respond(phone){
            font-size: 2.4rem;
        }
    }

    p {
        font-size: 1.5rem;
        margin-block: 1.5rem 2.5rem;
        line-height: 1.5;
    }
}

.home4 {
    background-color: var(--black);
    padding-block: 5rem;

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;

        @include respond(tab-port){
            grid-template-columns: 2fr;
            background: none;
        }

        @include respond(phone) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &_left img {
        width: 75%;

        @include respond(tab-port){
            width: 80%;
            margin-inline: auto;
        }
    }

    &_right h3 {
        color: black;
        text-transform: capitalize;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
        // align-items: center;

        @include respond(phone){
            font-size: 2.4rem;
        }
    }

    p {
        font-size: 1.5rem;
        margin-block: 1.5rem 2.5rem;
        line-height: 1.5;
    }
}
