@import "../../styles/mixin.scss";

.feature1 {
    background-color: var(--black);
    padding-block: 5rem;
    margin-bottom: 5rem;

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;

        @include respond(tab-port){
            grid-template-columns: 1fr;
            background: none;
        }
    }

    &_right img {
        width: 100%;
        height: 50%;
        margin-top: 2rem;
        border: 2px solid #080808;
        margin-bottom: 5rem;

        @include respond(tab-port){
            width: 80%;
            margin-inline: auto;
        }
    }

    &_left h3 {
        color: black;
        text-transform: capitalize;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
        // align-items: center;

        @include respond(phone){
            font-size: 2.4rem;
        }
    }

    &_left p {
        margin-top: 2rem;
        font-size: 1.2rem;
        margin-block: 1.5rem 2.5rem;
        line-height: 1.5;
    }

    &_left ul {
        padding-left: 20px;
        list-style-type: disc;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        margin-top: 3rem;
        margin-left: 3rem;
    }
}


.feature2 {
    background-color: var(--black);
    padding-block: 5rem;

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;

        @include respond(tab-port){
            grid-template-columns: 2fr;
            background: none;
        }

        @include respond(phone) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &_left img {
        width: 100%;
        height: 50%;
        // margin-top: 5rem;
        border: 2px solid #080808;
        margin-bottom: 5rem;

        @include respond(tab-port){
            width: 80%;
            margin-inline: auto;
        }
    }

    &_right h3 {
        color: black;
        text-transform: capitalize;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
        // align-items: center;

        @include respond(phone){
            font-size: 2.4rem;
        }
    }

    &_right p {
        font-size: 1.2rem;
        margin-block: 1.5rem 2.5rem;
        line-height: 1.5;
    }

    &_right ul {
        padding-left: 20px;
        list-style-type: disc;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        margin-top: 3rem;
        margin-left: 3rem;
    }
}

.feature3 {
    background-color: var(--black);
    padding-block: 5rem;

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;

        @include respond(tab-port){
            grid-template-columns: 2fr;
            background: none;
        }

    }

    &_right img {
        width: 100%;
        height: 50%;
        // margin-top: 5rem;
        border: 2px solid #080808;
        margin-bottom: 5rem;

        @include respond(tab-port){
            width: 80%;
            margin-inline: auto;
        }
    }

    &_left h3 {
        color: black;
        text-transform: capitalize;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
        // align-items: center;

        @include respond(phone){
            font-size: 2.4rem;
        }
    }

    &_left p {
        font-size: 1.2rem;
        margin-block: 1.5rem 2.5rem;
        line-height: 1.5;
    }

    &_left ul {
        padding-left: 20px;
        list-style-type: disc;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        margin-top: 3rem;
        margin-left: 3rem;
    }
}

.feature4 {
    background-color: var(--black);
    padding-block: 5rem;

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;

        @include respond(tab-port){
            grid-template-columns: 2fr;
            background: none;
        }

        @include respond(phone) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &_left img {
        width: 100%;
        height: 50%;
        // margin-top: 5rem;
        border: 2px solid #080808;
        margin-bottom: 5rem;

        @include respond(tab-port){
            width: 80%;
            margin-inline: auto;
        }
    }

    &_right h3 {
        color: black;
        text-transform: capitalize;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
        // align-items: center;

        @include respond(phone){
            font-size: 2.4rem;
        }
    }

    &_right p {
        font-size: 1.2rem;
        margin-block: 1.5rem 2.5rem;
        line-height: 1.5;
    }

    &_right ul {
        padding-left: 20px;
        list-style-type: disc;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        margin-top: 3rem;
        margin-left: 3rem;
    }
}

.feature5 {
    background-color: var(--black);
    padding-block: 5rem;

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;

        @include respond(tab-port){
            grid-template-columns: 2fr;
            background: none;
        }

    }

    &_right img {
        width: 100%;
        height: 50%;
        // margin-top: 5rem;
        border: 2px solid #080808;
        margin-bottom: 5rem;

        @include respond(tab-port){
            width: 80%;
            margin-inline: auto;
        }
    }

    &_left h3 {
        color: black;
        text-transform: capitalize;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
        // align-items: center;

        @include respond(phone){
            font-size: 2.4rem;
        }
    }

    &_left p {
        font-size: 1.2rem;
        margin-block: 1.5rem 2.5rem;
        line-height: 1.5;
    }

    &_left ul {
        padding-left: 20px;
        list-style-type: disc;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        margin-top: 3rem;
        margin-left: 3rem;
    }
}

.feature6 {
    background-color: var(--black);
    padding-block: 5rem;

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;

        @include respond(tab-port){
            grid-template-columns: 2fr;
            background: none;
        }

        @include respond(phone) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &_left img {
        width: 100%;
        height: 50%;
        // margin-top: 5rem;
        border: 2px solid #080808;
        margin-bottom: 5rem;

        @include respond(tab-port){
            width: 80%;
            margin-inline: auto;
        }
    }

    &_right h3 {
        color: black;
        text-transform: capitalize;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;
        // align-items: center;

        @include respond(phone){
            font-size: 2.4rem;
        }
    }

    &_right p {
        font-size: 1.2em;
        margin-block: 1.5rem 2.5rem;
        line-height: 1.5;
    }

    &_right ul {
        padding-left: 20px;
        list-style-type: disc;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        margin-top: 3rem;
        margin-left: 3rem;
    }
}


// @import "../../styles/mixin.scss";

// ul {
//     padding-left: 20px;
//     list-style-type: disc;
//     font-size: 1.5rem;
//     line-height: 1.5;
//     margin-bottom: 2rem;  // Adjust the margin as needed
// }

// .feature1,
// .feature2,
// .feature3,
// .feature4,
// .feature5,
// .feature6 {
//     background-color: var(--black);
//     padding-block: 5rem;
//     margin-bottom: 5rem;

//     &_container {
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         align-items: center;
//         gap: 3rem;
//         background-position: center;
//         background-size: 50%;
//         background-repeat: no-repeat;

//         @include respond(tab-port){
//             grid-template-columns: 1fr;
//             background: none;
//         }
//     }

//     &_right img {
//         width: 100%;
//         height: 50%;

//         @include respond(tab-port){
//             width: 80%;
//             margin-inline: auto;
//         }
//     }

//     &_left h3 {
//         color: black;
//         text-transform: capitalize;
//         font-size: 2rem;
//         letter-spacing: 1px;
//         font-weight: 600;
//         line-height: 1.2;

//         @include respond(phone){
//             font-size: 2.4rem;
//         }
//     }

//     p {
//         font-size: 1.5rem;
//         margin-block: 1.5rem 2.5rem;
//         line-height: 1.5;
//     }
// }

// // Add a horizontal line or a gap between each feature
// .wrapper {
//     border-bottom: 1px solid #ccc;  // Adds a horizontal line
//     margin-bottom: 2rem;  // Adds a gap
//     padding-bottom: 2rem;  // Adjust the padding to avoid overlap with the next feature
// }

// // Ensure the last feature does not have an unnecessary bottom margin or border
// .wrapper:last-child {
//     border-bottom: none;
//     margin-bottom: 0;
//     padding-bottom: 0;
// }
